/*Counter*/

html, body {
	background-color: #141A20;
	font-family: tahoma, sans-serif;
	color: #FFF;
	text-align: center;
	height: 100%;
	width: 100%;
}

button {
	width: 35px;
	height: 35px;
	margin-top: 8px;
	margin-right: 20px;
	margin-left: 20px;
  background-color: #9A3011;
  border: 2px solid #752100;
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
	cursor: pointer;
	float: left;
}

button:hover {
	background-color: #AF4520;
}

input:focus, button:focus {
	outline: 0;
}

button:active {
	background-color: #B74C27;
}

input {
	width: 50px;
	height: 50px;
	color: #FFF;
	text-align: center;
	font-size: 24px;
	background-color: #A44428;
	border: 2px solid #CC8B34;
	border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

p {
	color: #141A20;
	font-size: 12px;
}

#maindiv {
	background-color: #A03A00;
	height: 100%;
	width: 80%;
	margin: auto;
	margin-top: -8px;
	overflow: auto;
}

#box {
	width: 50px;
	height: 50px;
	background-color: #9A3011;
	border: 2px solid #752100;
	margin: auto;
	float: left;
}

#container {
	margin: auto;
	padding-left: 10px;
	width: 215px;
	height: 70px;
	border: none;
	margin-top: 200px;
}

#number {
	display: block;
	margin-top: 10px;
	font-size: 24px;
}

#textbox {
	margin-top: 55px;
}















