html, body {
	background-color: #CCC;
	color: #4F4F4F;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 12pt;
	height: 100%;
	width: 100%;
	line-height: 1.3;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Pontano Sans', sans-serif;
	margin: 0px;
}

p {
	margin: 0px;
	color: #555;
}

a:hover {
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	color: #777;
}

.vertical {
    word-wrap: break-word;
}

.leftline:hover {
	border-left: 10px solid #CCC;
}

.listcard {
	height: 180px;
	width: 180px;
	padding: 10px;
	margin: 10px;
	line-height: 1.1;
	flex: 0 0 auto;
}

.listcard:hover {
	border-color: #777;
}

.listrow {
	height: 100%;
	width: 100%;
}

.flexrow {
	flex-direction: row;
	flex-wrap: wrap;
}

.flexcolumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#joenav {
	background-color: #FDF7EF;
	border-right: 1px solid #E3DED7;
	color: #4F4F4F;
	width: 120px;
}

#main {
	background-color: #FDF7EF;
	height: 100%;
	width: 100%;
	padding-top: 100px;
}

#web, #woof, #resume, #about {
	background-color: #FDF7EF;
	margin-left: 200px;
	margin-right: 70px;
	display: none;
}

#woofinfo {
	display: none;
	margin-top: 20px;
}

#woofinfo a, #resume a, #about a {
	color: #333;
}

#woofinfoholder {
	height: 180px;
	width: 400px;
	margin: 10px;
	padding: 10px;
}

#title {
	height: 180px;
	width: 100%;
	/*background-color: #CCC;*/
}

#bar {
	background-color: #272F40;
}