html, body {
	align-items: center;
	background-color: #303239;
	color: #E0E1E9;
	display: flex;
	flex-direction: column;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	text-align: center;
	width: 100%;
}

a {
	color: #FFFAE2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

h1 {
	font-size: 3em;
	margin: 0 0 10px 0;
}

button {
	background-color: #434650;
	border: none;
	border-bottom: 1px solid #434650;
	color: #E0E1E9;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.2em;
}

button:hover {
	border-bottom: 1px solid #85BCC5;
	cursor: pointer;
}

button:focus {
	outline: 0 !important;
	border-bottom: 1px solid #85BCC5;
}

header {
	height: 500px;
	left: 0;
	width: 100%;
	position: fixed;
	top: 0;

	-webkit-transition: height 0.7s;
	-moz-transition: height 0.7s;
	-ms-transition: height 0.7s;
	-o-transition: height 0.7s;
	transition: height 0.7s;
}

header.smaller {
	height: 200px;
}

p {
	margin-top: 0;
}

ul {
	list-style-type: none;
	margin-bottom: 0;
	padding: 0;
	text-align: left;
}

ul li {
	margin-bottom: 7px;
}

.position {
	font-size: 1.1em;
	padding-top: 5px;
}

.current {
	border-bottom: 1px solid #85BCC5;
}

.sub-container {
	margin-top: 464px;
	width: 85%;

	-webkit-transition: margin-top 0.7s;
	-moz-transition: margin-top 0.7s;
	-ms-transition: margin-top 0.7s;
	-o-transition: margin-top 0.7s;
	transition: margin-top 0.7s;
}

.sub-container.higher {
	margin-top: 324px;
}

.subheading {
	background-color: #434650;
	padding: 25px 0 27px 0;
	font-size: 1.5em;
	font-weight: 300;
}

.icon {
	padding: 0 10px;
}

.item {
	background-color: rgba(67, 70, 80, 1);
	border-top: 1px solid #BF6D44;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 1em;
	justify-content: space-around;
	padding: 15px 0;
	width: 100%;
}

.item:hover {
	background-color: #303239;
}

.sub-item {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	min-width: 250px;
	max-width: 300px;
	min-height: 40px;
	padding: 0 5px;
}

.item-title {
	display: block;
	font-size: 1.3em;
	margin-bottom: 5px;
}

.skill-item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.skill-item p {
	margin-bottom: 20px;
}

#app {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-weight: 100;
	width: 100%;
}

#heading {
	align-items: center;
	background-color: #303239;
	border-bottom: 15px solid #85BCC5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 75%;
	width: 100%;
}

#blurb {
	max-width: 650px;
	margin: 20px 0;
	padding: 0 10px;
}

#chooser-holder {
	background-color: #434650;
	border-bottom: 5px solid #85BCC5;
	box-shadow: 0 15px 25px 0 rgba(30, 30, 30, 0.3);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px 0;
	width: 100%;
}

#skills {
	flex-direction: column;
}