<!doctype html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="description" content="Joe Beach's portfolio">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Joe Beach</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,300" rel="stylesheet">
	<link rel="stylesheet" href="css/index.css">
	<link rel="icon" type="image/x-icon" href="media/favicon.ico">
	<script type="text/javascript" src="https://unpkg.com/vue/"></script>
	
</head>

<body>

	<div id="app">

		<header :class="{ smaller: shrink }">

			<div id="heading">
				<h1>Joe Beach</h1>
				<div id="blurb" v-if="blurbShow">
					<p>{{ blurb.intro }}</p>
					<p>{{ blurb.main }}</p>
					<p>{{ blurb.skills }}</p>
				</div>
				<div id="icons">
					<a v-for="icon in icons" :href="icon.url" target="_blank">
						<img class="icon" :src="icon.hover ? icon.dark : icon.light" :alt="icon.alt" @mouseenter="icon.hover = !icon.hover" @mouseleave="icon.hover = !icon.hover">
					</a>
				</div>

			</div>

			<div id="chooser-holder">
	   		<button :class="{ current: section == 'code' }" @click="section = 'code'">Coding</button>
	   		<button :class="{ current: section == 'music' }" @click="section = 'music'">Music</button>
	   		<button :class="{ current: section == 'resume' }" @click="section = 'resume'">Resume</button>
	   	</div>

		</header>
		
   	<div class="sub-container" :class="{ higher: shrink }" id="code" v-if="section == 'code'" v-cloak>
   		<div class="subheading">Things I've coded</div>
   		<div class="item" v-for="entry in coding" :id="entry.id" @mouseenter="fadeBg(entry.id)" @mouseleave="unfadeBg(entry.id)">
   			<div class="sub-item">
					<a :href="entry.url" target="_blank" ><span class="item-title">{{ entry.title }}</span></a>
					<p>{{ entry.date }}</p>
				</div>
				<div class="sub-item">
					<span v-html="entry.description"></span>
					<br><br>
					{{ entry.tools }}
				</div>	   			
   		</div>
   	</div>

   	<div class="sub-container" :class="{ higher: shrink }" id="music" v-if="section == 'music'" v-cloak>
   		<div class="subheading">Music I make</div>
   		<div class="item" v-for="entry in music" :id="entry.id" @mouseenter="fadeBg(entry.id)" @mouseleave="unfadeBg(entry.id)">
   			<div class="sub-item">
					<a :href="entry.url" target="_blank" ><span class="item-title">{{ entry.title }}</span></a>
				</div>
				<div class="sub-item">
					{{ entry.description }}
				</div>	   			
   		</div>
   	</div>

   	<div class="sub-container" :class="{ higher: shrink }" id="resume" v-if="section == 'resume'" v-cloak>
   		<div class="subheading">My resume</div>
   		<div class="item" v-for="entry in resume" :id="entry.id" @mouseenter="fadeBg(entry.id)" @mouseleave="unfadeBg(entry.id)">
   			<div class="sub-item">
					<span class="item-title"><a :href="entry.url" target="_blank">{{ entry.business }}</a></span>
					<span class="position">{{ entry.position }}</span>
					<ul style="text-align: center">
						<li>{{ entry.location }}</li>
						<li>{{ entry.date }}</li>
					</ul>
				</div>
				<div class="sub-item">
					<ul>
						<li v-for="sentence in entry.description">{{ sentence }}</li>
					</ul>
				</div>	 			
   		</div>
   		<div class="item" id="resume-skills" @mouseenter="fadeBg('resume-skills')" @mouseleave="unfadeBg('resume-skills')">
   			<div class="sub-item">
   				<span class="item-title">Skills</span>
   			</div>
   			<div class="sub-item">{{ resumeSkills }}</div>
   		</div>
   	</div>

	</div>
	

<script src="js/index.js"></script>
	
</body>
	
</html>