<!doctype html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="description" content="Joe Beach's portfolio">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>coding.space Curriculum Development</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,300" rel="stylesheet">
	<link rel="stylesheet" href="../learning/css/index.css">
	<link rel="icon" type="image/x-icon" href="../media/favicon.ico">
	<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>
	
</head>

<body>

	<div id="app">

		<header :class="{ smaller: shrink }">

			<div id="heading">
				<h1>coding.space Curriculum Development</h1>
				<div v-if="blurbShow" id="blurb">
					<p>As part of my job at <a href="http://thecodingspace.com" target="_blank">The Coding Space</a>, I've contributed to developing our curriculum for young people to learn to code.</p>
					<p>This is a selection of my contributions to the curriculum found on <a href="http://coding.space" target="_blank">coding.space</a>. You can check out all my contributions to the curriculum website on <a href="https://github.com/stevekrouse/coding.space/commits?author=joebeachjoebeach" target="_blank">GitHub</a></p>
				</div>
				
			</div>

		</header>
		
		<div class="sub-container" v-cloak>
			<div class="item" v-for="entry in projects" :id="entry.id" @mouseenter="fadeBg(entry.id)" @mouseleave="unfadeBg(entry.id)">
				<div class="sub-item">
					<span class="item-title"><a :href="entry.url" target="_blank">{{ entry.title }}</a></span>
					<p><span v-if="entry.gameUrl"><a :href="entry.gameUrl" target="_blank">Game</a> | </span><a :href="entry.gitHubUrl">GitHub</a></p>
					<p>{{ entry.date }}</p>
					<br>
				</div>
				<div class="sub-item">
					{{ entry.description }}
					<br><br>
					{{ entry.tools }}
				</div>	   			
			</div>
		</div>

	</div>
	

<script>

var app = new Vue({
	el: "#app",
	data: {
		shrink: false,
		blurbShow: true,
		projects: [
			{
				title: "Two-player War - tutorial",
				url: "http://coding.space/woof/war.html",
				gameUrl: "http://coding.space/woof/code/war-code.html",
				gitHubUrl: "https://github.com/stevekrouse/coding.space/commit/45b63f8bee04d45062b7e0f7274f32fc8dce5ac7",
				date: "June 2017",
				description: "A step-by-step tutorial for a two-player game similar to Worms and Angry Birds",
				tools: "WoofJS | Vue.js | HTML5 | CSS3",
				id: "war"
			},
			{
				title: "Platformer - tutorial",
				url: "http://coding.space/woof/platformer.html",
				gameUrl: "http://coding.space/woof/code/platformer-code.html",
				gitHubUrl: "https://github.com/stevekrouse/coding.space/commit/fb1019f5fbc900651809d684453618c87205dfdb",
				date: "May 2017",
				description: "A step-by-step tutorial for a short and simple Mario-like platformer game.",
				tools: "WoofJS | Vue.js | HTML5 | CSS3",
				id: "platformer"
			},
			{
				title: "Cannon Blast - tutorial",
				url: "http://coding.space/woof/cannon-blast.html",
				gameUrl: "http://coding.space/woof/code/cannon-blast-code.html",
				gitHubUrl: "https://github.com/stevekrouse/coding.space/commit/3e282d838414d4860f12c5d8fe397548ca77d6dc",
				date: "April 2017",
				description: "A step-by-step tutorial for an active take on tower defense. The player has to defend their base by shooting enemies.",
				tools: "WoofJS | Vue.js | HTML5 | CSS3",
				id: "cannon-blast"
			},
			{
				title: "Web Development Reference Guide",
				url: "http://coding.space/web/reference-guide.html",
				gitHubUrl: "https://github.com/stevekrouse/coding.space/commit/d10e9eade435ecf54b03f9ddbee238507a45542b",
				date: "January 2017",
				description: "A simple reference cheat-sheet for beginners with HTML, CSS, and JavaScript",
				tools: "HTML5 | CSS3 | Bootstrap",
				id: "reference-guide"
			},
		]
	},
	methods: {
		fadeBg: function(id) {
			var thisItem = document.getElementById(id);
			var a = 1;
			var interval = setInterval(function() {
				thisItem.style.backgroundColor = "rgba(67, 70, 80, " + a + ")";
				a -= 0.1;
				if (a <= 0)
					clearInterval(interval)
			}, 15)
		},
		unfadeBg: function(id) {
			var thisItem = document.getElementById(id);
			var a = 0;
			var interval = setInterval(function() {
				thisItem.style.backgroundColor = "rgba(67, 70, 80, " + a + ")";
				a += 0.1;
				if (a >= 1)
					clearInterval(interval)
			}, 15)
		}
	},
	watch: {
		shrink: function(newValue) {
			setTimeout(function(){ this.blurbShow = !this.blurbShow; }.bind(this), 200);
		}
	}
});

// can't listen to body scroll in vue instance, so here's a workaround
document.body.onscroll = function() {
	var distanceY = window.pageYOffset;
	var header = document.querySelector("header");
	if (distanceY > 100) 
		app.shrink = true;
	else
		app.shrink = false;
};

</script>
	
</body>
	
</html>