html, body {
	align-items: center;
	background-color: #303239;
	color: #E0E1E9;
	display: flex;
	flex-direction: column;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	text-align: center;
	width: 100%;
}

a {
	color: #FFFAE2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

h1 {
	font-size: 3em;
	margin: 0 0 10px 0;
}

header {
	height: 300px;
	left: 0;
	width: 100%;
	position: fixed;
	top: 0;

	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	-o-transition: height 0.5s;
	transition: height 0.5s;
}

header.smaller {
	height: 100px;
}

p {
	margin: 8px 20px 0px 20px;
}

.sub-container {
	margin-top: 315px;
	width: 85%;
}

.item {
	background-color: rgba(67, 70, 80, 1);
	border-top: 1px solid #BF6D44;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 1em;
	justify-content: space-around;
	padding: 15px 0;
	width: 100%;
}

.item:hover {
	background-color: #303239;
}

.sub-item {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	min-width: 250px;
	max-width: 300px;
	min-height: 40px;
	padding: 0 5px;
}

.item-title {
	display: block;
	font-size: 1.3em;
	font-weight: normal;
}

#app {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-weight: 100;
	width: 100%;
}

#heading {
	align-items: center;
	background-color: #303239;
	border-bottom: 15px solid #85BCC5;
	box-shadow: 0 15px 25px 0 rgba(30, 30, 30, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#blurb {
	max-width: 700px;
	margin-bottom: 20px;
}